<div class="col-md-6 mx-auto mt-5">
<h1>Welcome to <strong>Bookers</strong>  !!</span></h1>
    <p>In  <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>, </p>
    <p>you can share and exchange your opinions , inpressions , and emotions
about various books!</p>
<div class="row">
   <p class="ml-3"><a class="btn btn-info" href="/users/sign_in">Log in</a></p>
   <p class="ml-3"><a class="btn btn-success" href="/users/sign_up">Sign Up</a></p>

   <p>CopyRight Infratop.inc</p>
  </div>
  </div>